.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    /* position: absolute; */
    text-indent: 2px;

        stroke: #fff;
        stroke-width: 0.1;
        cursor: pointer;
}

body {
    position: relative;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#treemap text {
    font-size: 11px!important;
}

.hidden {
    transition: all ease-in-out 200ms;
    opacity: 0;
}
.parent {
    stroke-width: 0.2;
}