text {
    /* font-family: "ProximaNova", Helvetica, Arial, sans-serif; */
    font-size: 12px;
}

rect.bubble,
.intro rect,
.scene rect {
    fill: none;
    stroke: #000;
}

path {
    fill: none;
    stroke-width: 2;
    stroke: #333;
}

path.song {
    stroke: #3c6da8;
}

path.lu {
    stroke: #df2929;
}

path.lin {
    stroke: #cab2d6;
}

path.yi {
    stroke: #b2df8a;
}

path.wu {
    stroke: #a6cee3;
}

path.li {
    stroke: #fdbf6f;
}

path.sun {
    stroke: #1d5464;
}

.intro text:first-child {
    fill: #fff;
    stroke: #f9f9f9;
    stroke-width: 3;
}

.intro text+text {
    fill: #333;
}

.intro text+text.dark {
    fill: #df2929;
}

.intro text+text.light {
    fill: #3c6da8;
}

text {
    font-size: 8px;
}

circle.hide {
    opacity: 0;
    pointer-events: none;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.slider-handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.story-container {
    overflow-x: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#story {
    min-height: 327px;
    width: 100%;
    margin: 10px 2px;
}

#slider {
    width: 100%;
    height: 50px;
    background: #ddd;
    z-index: 2;
    position: fixed;
    top: 0%;
    /* background:transparent; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15),
        3px 3px 5px 0 rgba(0, 0, 0, 0.06);

    display: flex;
    justify-content: center;

    display: none;
}

.container {
    display: flex;
    justify-content: center;

    transition: all 0.3s ease-in-out;
    position: absolute;
    transform: translate(0, -1500px);
    /* display: none; */
    min-height: 180px;
}

.container.brushed {
    transform: translate(0, 0px);
    /* background: rgba(151, 151, 151, 0.5); */
    z-index: 2;
    width: 100%;
}

/* .container.brushed+.scatter-container {
transform: translateY(200px)
} */

/* style for rect */
.circle {
    fill-opacity: 0.65;
}

.bubble {
    opacity: 1;
    transition: opacity 0.1s;
    /* stroke: #fff; */
    stroke-width: 0.1;
    cursor: pointer;
}

.bubble:hover text {
    opacity: 1;
}

.bubble:hover rect {
    fill-opacity: 1;
}



.year {
    fill: #ddd;
}



#legends {
    width: 200px;
    height: 500px;
    background: #b2df8a;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.node text {
    font: 11px sans-serif;
}

.node-selected {
    fill: red !important;
    fill-opacity: 1;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* button */
#switch {
    width: 60px;
    padding: 2px;
    border: 1px solid #2196F3;
    box-sizing: border-box;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 03s;
    transition: all 0.3s;
    border-radius: 540px;
    cursor: pointer;

    float: right;
    margin-right: 150px;
}

#toggle {
    width: 21px;
    height: 21px;
    background: #2196F3;
    border-radius: 100%;
    position: relative;
    transition: all 0.3s;
    left: 0;
    -webkit-transition: all 0.3s;

}

#switch.hover #toggle {
    left: 33px;
}

#switch.hover {
    -webkit-filter: none;
    opacity: 1
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* tool-areas */
.item h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#event-detail {
    background: #84c2d4;
    border-radius: 5px;
    width: 320px;
    height: calc(100% - 20px);
    /* min-height: 320px; */
}

#event-detail ul {
    list-style: none;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

#event-detail li {
    padding: 4px;
}

#event-detail li p {
    text-align: right;
    border-bottom: 1px solid #fff;

}

#event-detail .people {
    /* max-height: 40px; */
    line-height: 20px;
    overflow: auto;
    border-bottom: none;
    flex-grow: 1;
}

.nodes-tools {
    display: flex;
    position: relative;
}

/* input */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.field-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    height: 30px;
}

.icons-container {
    position: absolute;
    top: 11px;
    right: -25px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.icon-close {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-200%);
    border-radius: 50%;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-close::before,
.icon-close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #6078EA;
}

.icon-close::before {
    transform: rotate(45deg)
}

.icon-close::after {
    transform: rotate(-45deg)
}

.icon-search {
    position: relative;
    top: 2px;
    left: 4px;
    width: 50%;
    height: 50%;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #c7d0f8;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-search:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 2px;
    transform: rotate(-45deg);
    height: 10px;
    background-color: #c7d0f8;
}

.field {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
}

.field:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(75, 72, 72, 0.3);
}

.field:focus+.icons-container .icon-close {
    opacity: 1;
    transform: translateX(0);
}

.field:focus+.icons-container .icon-search {
    opacity: 0;
    transform: translateX(200%);
}


div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px 7px;
    background: honeydew;
    font: 12px sans-serif;
    font-weight: bold;
    border-radius: 3px;
    pointer-events: none;
    /* keep the mouseover when over the tooltip */
}


/* toggle */
.exp {
    display: table;
    margin: 8px;
}

.exp .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

label {
    display: inline-block;
    color: #d8d8d8;
    cursor: pointer;
    position: relative;
}

label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #d8d8d8;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}

label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #d8d8d8;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}

label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}

label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label span {
    background-color: #d8d8d8;
    transform: scale(1.25);
}

input[type="checkbox"]:checked+label span:after {
    width: 10px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label span:before {
    width: 5px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span {
    background-color: #d8d8d8;
    transform: scale(1.25);
}

input[type="checkbox"]:checked+label:hover span:after {
    width: 10px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span:before {
    width: 5px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

/* body {
	background: #d8d8d8;
} */

.search-container {
    width: 180px;
    position: absolute;
    right: 4%;
}

/* text {
    font-size: 11px!important;
} */

/* -------------------- */
.info-box {
    position: absolute;
    top: 223px;
    opacity: 0.8;
    width: 150px;
    height: 33px;

    margin-left: 20px;
    border-radius: 4px;
    background-color:#adbec5;
    color: #adbec5;
    box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0);
    cursor: default;
    overflow: hidden;
}

.info-content::after {
    background-color: #2b7489;
}

.info-content::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
}